.price {
  padding: 40px 0 40px 0;

  box-shadow: var(--shadow);

  background-repeat: no-repeat;
  background-position: top;

  background-image: url(../../../images/price/bg-price.png);
  background-image: -webkit-image-set(url(../../../images/price/bg-price.webp) 1x);
  @include mq(retina) {
    background-image: url(../../../images/price/bg-price@2x.png);
    background-image: -webkit-image-set(url(../../../images/price/bg-price@2x.webp) 2x);
  }

  @include mq(mobile) {
    background-image: url(../../../images/price/bg-price_sm.png);
    background-image: -webkit-image-set(url(../../../images/price/bg-price_sm.webp) 1x);
    @include mq(retina) {
      background-image: url(../../../images/price/bg-price_sm@2x.png);
      background-image: -webkit-image-set(url(../../../images/price/bg-price_sm@2x.webp) 2x);
    }
  }
  @include mq(tablet) {
    padding: 60px 0 60px 0;

    background-image: url(../../../images/price/bg-price_md.png);
    background-image: -webkit-image-set(url(../../../images/price/bg-price_md.webp) 1x);
    @include mq(retina) {
      background-image: url(../../../images/price/bg-price_md@2x.png);
      background-image: -webkit-image-set(url(../../../images/price/bg-price_md@2x.webp) 2x);
    }
  }
  @include mq(desktop) {
    padding: 80px 0 80px 0;
    background-image: url(../../../images/price/bg-price_lg.png);
    background-image: -webkit-image-set(url(../../../images/price/bg-price_lg.webp) 1x);
    @include mq(retina) {
      background-image: url(../../../images/price/bg-price_lg@2x.png);
      background-image: -webkit-image-set(url(../../../images/price/bg-price_lg@2x.webp) 2x);
    }
  }

  &__wrapper {
    justify-content: center;
    align-items: center;
    @include mq(tablet) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 20px 156px;
      grid-template-areas: 'table__repl--no-paper table__repl--with-paper-1_0' 'table__repl--with-paper-1_1 table__repl--with-paper-1_1';
    }
    @include mq(tablet) {
      gap: 30px 37px;
    }
    @include mq(desktop) {
      gap: 30px 150px;
    }
  }
}

.price .title {
  margin-top: 30px;
}
