:root {
  /* Шрифты */
  --title-font: 'Raleway', sans-serif;
  --main-font: 'Roboto', sans-serif;
  // --main-font: 'Open Sans', sans-serif;

  /* Цвета текста */
  --main-txt-color: #353535;

  --bg-color-: #3a3a3a;
  --bg-head-color: #e7e7e7;
  --bg-rows-color: #f1f1f1;
  --bg-data-color: #9b9b9b7e;

  --accent-color: #ffbf42;

  --white-color: #ffffff;

  /* Анімація */
  --animation-time: 250ms;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);

  --shadow: 0px 20px 29px 0px rgba(0, 0, 0, 0.35);

  // --title-txt-color: #0d3748;
  // --title-txt-color-opacity-50: #0d374850;
  // --title-txt-color-opacity-80: #0d374880;
  // --secondary-txt-color: #606060;
  // --bg-color-btn-hover: #e6f9ff;

  /*Колір обводки */
  // --border-color: #28a2d7;
  // --logo-color: #d80000;

  /* Кольори бэкграундов */
  // --dark-grey-color: #606060;
  // --grey-color: #d2d2d2;
  // --light-grey-color: #f6f6f6;
  // --white-color: #ffffff;

  // --gradient-bgc: linear-gradient(180deg, #2799ca 32%, #1a6d90 100%);
  // --gradient-stroke: linear-gradient(180deg, #28a2d7 0%, #1a6d90 100%);
  // --horizontal-gradient-stroke: linear-gradient(0deg, #28a2d7 30%, #1a6d90 100%, #28a2d7 30%);
  // --footer-gradient: linear-gradient(180deg, #28a2d7 -25.72%, #155772 88.86%);
  // --gradient-hover: linear-gradient(180deg, #eaf6fa 0%, #e6f9ff 100%);

  /* Акцент */
  // --dark-accent-color: #0d3748;
  // --accent-color-hover: #188ce8;

  // --backdrop: rgba(0, 0, 0, 0.4);
}
